@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.header_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-bg-color);
}

.header_wrapper svg {
    position: fixed;
    top: calc(var(--normal-header-height));
    z-index: 9999999;
    filter: drop-shadow(0px 4px 2px rgb(0 0 0 / 0.15));
    width: 100%;
    pointer-events: none;
}

.header_wrapper svg path {
    fill: var(--primary-bg-color);
    z-index: 99999;
}

.dropdown {
    position: relative;
    display: inline;
    min-width: 17%;
    max-width: 17%;
    z-index: 100000;
    cursor: pointer;
}


.dropdown_btn {
    background-color: rgba(0,0,0,0);
    color: #333; /*var(--saratoga-red);*/
    padding: 5px 0px;
    font-size: var(--saratoga-medium-text);
    border: none;
    position: relative;
    text-align: center;
    align-items: end;
    z-index: inherit;
    cursor: pointer;
    /*cursor: pointer;*/
}

.dropdown_btn:hover {
    color: var(--saratoga-red);
}

/*
.dropdown:hover , .dropdown_btn {
    display: block;
}

.dropdown:hover .dropdown_btn  {
    background-color: white;
}*/

.dropdown_content {
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 100000;
    box-shadow: 0px 20px 15px 1px rgb(0 0 0 / 20%);
    text-align: center;
    cursor: pointer;
}

.item {
    color:black;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5% 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown_content .item:hover {
        background-color: #ddd;
    }



@media screen and (max-width: 1000px) {
    .dropdown  {
      display: none !important;
    }
} 

.container1,
.container2,
.container3{
    display: flex;
    max-width: 20%;
    min-width: 20%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background-color: inherit;
    /*z-index: 100000;*/
}

.dropbtn {
    background-color: var(--saratoga-red);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    align-items: flex-end;
    z-index: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 17%;
    max-width: 17%;
    z-index: 100000;
}


.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.item {
    color:black;
    background-color: inherit;
    display: block;
    height: 100%;
    padding: 5%;
}

.dropdown-content .item:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .dropbtn { 
    background: transparent;
 }

.imageContainer{
    display: flex;
    max-width: 22.5%;
    min-width: 22.5%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: inherit;
    align-items: flex-end;
    z-index: 100000;
    font-family: 'Great Vibes', cursive;
    margin-top: 70px;
    font-size: 40px !important;
    color: var(--saratoga-red);
    padding-right: 20px;
}


/* .imageContainer {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 100000;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
}

.imageContainer img { /* CANNOT FIGURE OUT WIDTH > PARENT DIV | FIX SCALING WITH DIFFERENT SCREENS
    position: absolute;
    width: 150%;
    height: 70px;
    top: 50%;
    left: 0;
    right: 0;
} */



.logo_wrapper {
    display: flex;
    max-width: 32%;
    min-width: 32%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    align-items: flex-end;
    position: relative;
    z-index: 99999999;
    font-family: 'Great Vibes', cursive !important;
    margin-top: 4.5vw;
    margin-left: 0px;
    font-size: 3.00vw !important;
    color: var(--saratoga-red);
    /*padding-right: 10px;*/
    cursor: pointer;
    white-space: nowrap;
}

.logo_wrapper   img {
        margin: 0 !important;
        width: 70% !important;
        min-width: 300px;
        height: auto;
    }

    /* @media screen and (min-width: 1400px) {
        & {
            font-size: 35px !important;
            margin-top: 50px;
        }
    }
    */

/* ==================== SANDWICH WRAPPER ====================  */

.sandwich_icon_wrapper {
    display: none;
    position: absolute;
    width: 10vw;
}
    
.sandwich_dropdown_wrapper {
    position: fixed;
    background-color: var(--saratoga-red);
    display: none;
    width: 100%;
    height: 195%;
    z-index: 1;
}

.sandwich_dropdown {
    display: none;
    background-color: white;
    width: 100%;
    margin-top: 0%;
    height: auto;
    position: absolute;
    top: 52.85%;
    z-index: inherit;
    
}

.sw_dropbtn {
    background-color: white;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: blue;
    cursor: pointer;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.811);
    margin: 0.5px;
}

.sw_item_container {
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sw_item {
    background-color: white;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    align-self: center;
    color: black;
    cursor: pointer;
    height: auto;
}

.sw_dropbtn:hover {
    background-color: var(--saratoga-red);
}

.sw_dropbtn:hover .sw_item_container {
    display: flex;
    flex-direction: column;
}

.sw_item:hover{
    background-color: #ddd;
}

/* IPad Air as reference */
@media screen and (max-width: 1000px) {
    .logo_wrapper   {
        margin-top: 10px !important;
        font-size: 40px !important;
    }

    .logo_wrapper img {
        margin: -1.2vw !important;
    }

    .sandwich_icon_wrapper {
        display: block;
    }

    .sandwich_icon_wrapper svg {
        top: 0px;
        width: 10%;
        left: 88vw;
    }

    .sandwich_dropdown_wrapper {
        display: block;
    }

    .sandwich_dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content {
        position: absolute;
    }
    
}
