.footer-top-section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex: 1 0;

    background: transparent;

    box-shadow: rgb(0 0 0) 0px 0px 10px;
    position: relative;
    z-index: 9999;
}

.footer-content-section {

    display: flex;
    width:  50%; /* was 33.333 */
    
    height: fit-content;
    max-height: auto;

    flex-flow: column;
    justify-content: space-between;

    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
}

.footer-bot-section {
    display: flex;
    height: auto;

    background: lightgrey;
    position: relative;
    z-index: 9;
    padding: 0px 20px;

    justify-content: space-between;
    align-items: center;
    color: #333;

    padding: 5px 15px;
}

.footer-bot-content {
    display: flex;
    width: auto;
    flex-flow: row;

    height: 100%;
    align-items: center;

    color: #333;
}

.footer-bot-content a {
    cursor: pointer;
    color: #da291c;
    text-decoration: none;

    font-size: var(--saratoga-small-text);
}

    
.footer-bot-content a:hover {
    cursor: pointer;
    color: #ff1504;
    text-decoration: none;

    font-size: var(--saratoga-small-text);
}

.first-column h4,
.second-column h4 {
    color: #000;
    line-height: 1.0;
    font-size: 18px;

    width: fit-content;
    margin: 0px 0px 25px 0px;
    padding: 0px 0px 0px 0px;

    position: relative;
}

.first-column h4:before,
.second-column h4:before {
        content: '';
        position: absolute;
        left: 2px;
        bottom: -5px;
        height: 2px;
        width: 90px;
    
    }

    .first-column p,
    .second-column p { 
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 20px 0px;
    
        color: #000;
        font-size: var(--saratoga-small-text);
    }
    

/*----------------------------------------*/

.first-column { 
    width: 50%;
    height: 80%;
    /*background-color: var(--secondary-bg-color);*/
    position: relative;
}

.second-column { 
    width: 50%;
    height: 80%;
    /*background-color: var(--secondary-bg-color);*/
    position: relative;
}

.second-column:before{
    content: '';
    border-left: 1px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
    left: 0;
}

/*-----------------------------------------*/
.footer-section-button-wrapper {
    display: flex;
    flex-flow: row;

    gap: 10px;
    justify-content: flex-start;
    height: auto;
}

.footer-section-icon-wrapper {
    display: flex;
    flex-flow: row;

    justify-content: flex-start;
    gap: 10px;
    height: auto;
    margin: 0px 0px 10px 0px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    height: 40px;
    width: 40px;

    background: #fff;
    /*box-shadow: rgb(0 0 0) 0px 0px 3px;*/
    border-radius: 5px;

    background-color: #c23b22;
    box-shadow: inset 0 -0.6em 1em -0.35em rgb(0 0 0 / 17%), inset 0 0.6em 2em -0.3em rgb(255 255 255 / 15%), inset 0 0 0em 0.05em rgb(255 255 255 / 12%), rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.button-div-download {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 33.3333%;
}

.button-div-email {
    display: flex;
    flex-flow: row;
    height: 50px;
    width: 66.6666%;
}




@media only screen and (max-width: 1000px) {
    .first-column  { 
        width: 50% !important;
        max-width: 50% !important;  
    }

    .second-column  { 
        width: 50% !important;
        max-width: 50% !important;  
    }

}

@media only screen and (max-width: 800px){
    .first-column  { 
        width: 100% !important;
        max-width: 100% !important; 
    }

    .second-column  { 
        width: 100% !important;
        max-width: 100% !important; 
    }
    
    .second-column:before {
        border-left: none;
    }
}


/* OLD CSS IS BELOW THIS LINE !!!!!! */


.first_column{ 
    width: 33.3333%;
    height: 80%;
    /*background-color: var(--secondary-bg-color);*/
    position: relative;
}

.second_column{
    width: 33.3333%;
    height: 80%;
    /*background-color: var(--secondary-bg-color);*/
    position: relative;
}

.second_column:before{
    content: '';
    border-left: 1px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
    left: 0;
}


.second_column:after{
    content: '';
    border-left: 1px solid var(--footer-line-color);
    position: absolute;
    height: calc(100% - var(--footer-spacing));
    top: calc(var(--footer-spacing)/2);
    right: 0;
}

.third_column{
   width: 33.3333%;
   height: 80%;
   /*background-color: var(--secondary-bg-color);*/
   position: relative;
}

.Bar{
    width: 100%;
    height: 20%; 
    /*background-color: var(--secondary-bg-color);*/ 
    position: relative;
}
.Bar:after{
    content: '';
    border-top: 1px solid var(--footer-line-color);
    position: absolute;
    width: calc(100% - var(--footer-spacing));
    left: calc(var(--footer-spacing)/2) ;
 }

 .textBox{
    justify-content: center;
    margin: auto;
 }

 .menu-footer{
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: x-small; 
    margin: auto;
 }

 .menu-footer:visited{
    text-decoration: none;
    color:white;
 }
 

 @media only screen and (max-width: 1000px){
    .first_column{
        height: 40%;
        width: 50%;
    }

    .second_column{
        height: 40%;
        width: 50%;
    }

    .second_column:after{
        content: '';
        border-left: 1px solid var(--footer-line-color);
        position: absolute;
        height: calc(100% - var(--footer-spacing));
        top: calc(var(--footer-spacing)/2);
    }
    
    .third_column{
        height: 40%;
        width: 100%;
        position: relative;
        border-left: none;
    }
    .third_column:after{
        border-left: none;
        content: '';
        border-top: 1px solid var(--footer-line-color);
        position: absolute;
        width: calc(100% - var(--footer-spacing));
        left: calc(var(--footer-spacing)/2);
        top: 0;
    }
 }



 @media only screen and (max-width: 800px){
    .filler-height-200{
        min-height: 300px;
        max-height: 300px;
    }
    .first_column{
        width: 100%;
        height: 30%; 
    }
    .second_column{
        width: 100%;
        height: 30%;
    }
    .second_column:after{
        border-left: none;
        content: '';
        border-top: 1px solid var(--footer-line-color);
        position: absolute;
        width: calc(100% - var(--footer-spacing));
        left: calc(var(--footer-spacing)/2) ;
        top: 0;
    }
    .third_column{
        width: 100%;
        height: 30%;
    }
    .Bar{
        width: 100%;
        height: 10%;
    }

 }


.footer-section {

    display: flex;
    width:  50%; /* was 33.333 */
    
    height: fit-content;
    max-height: auto;

    flex-flow: column;
    justify-content: space-between;

    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
}