
.section-content-container {
    height: auto;
    width: -webkit-fill-available;
    padding: 4em 4em;
    display: flex;
}


.section-first-container {
    width: auto;
    display: flex;
    margin: 0px 35px 0px 0px  ;
}

.section-second-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: flex-start !important;

}


.section-second-container p {
    font-size: var(--saratoga-small-text);
    color: var(--saratoga-black);
    margin: 0px;
    padding: 10px 20px 0px 0px;
    max-width: 100%;
}


.section-image-frame {
    display: inline-block;
    padding: 25px;
    border-width: 20px;
    border-style: solid;
    border-color: #2F2D2D #434040 #4F4C4C #434040;
    background: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
    background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
    background-image: linear-gradient(#E5E4DF, #CDCDC6);
    box-shadow: inset 0 2px 5px rgba(0,0,0,.6),0 5px 2px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.8);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    min-width: fit-content;
}

.section-image-frame:before {
    content: "";
    position: absolute;
    top: -175px;
    right: -20%;
    width: 400px;
    height: 400px;
    transform: rotateZ(-40deg);
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
}

.section-image-frame img {
    border-width: 2px;
    border-style: solid;
    border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
    box-shadow:  0 -1px 1px rgba(0,0,0,.1), 0 1px 1px 1px rgba(255,255,255,.7);
    margin: 0 !important;

    width: 100%;
    height: 100%;

}

.section-small-article-section {
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 20px;
    padding: 60px 0px;
    box-sizing: border-box;
    margin: auto 0;
    

}


.section-small-article {
    flex-basis: calc(50% - 20px);

    display: flex;
    flex-flow: column;
    margin: 10px 0px 10px 0px ;

    flex-wrap: wrap;

    height: 50%;
    gap: 0px;

    align-items: center;
}
.section-small-article   img {
        height: 160px;
        width: 225px;
        border: 5px solid lightgrey;
        box-shadow: rgb(0 0 0) 0px 0px 5px 1px;
        border-radius: 10px;
        margin-bottom: 0px !important;
    }

    .section-small-article  h3 {
        font-size: var(--saratoga-medium-text);
        font-weight: bold;
        color: #333;
        /*margin: 0 !important;*/
        line-height: 0.5;
        /*height: -webkit-fill-available;*/
        margin: 15px 0px 15px 0px;
        padding: 0px;
    }

    .section-small-article  p {
        font-size: var(--saratoga-smaller-text);
        color: var(--saratoga-black);
        margin: 0px;
        padding: 0px 20px 0px 20px;
        max-width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }



@media screen and (max-width: 1200px) {
    .section-content-container  {
        flex-flow: column-reverse;
        height: auto;
        padding: 4em 4em;
    }

    .section-first-container  {
        width: 100% !important;
        min-width: 100% !important;
        margin: 50px 35px 50px 0px  ;
    }
    .section-second-container  {
        width: 100% !important;
    }

    .section-small-article-section {
        height: auto !important;
    }

}


